<h2>Potties</h2>
<button class="create-button" (click)="toggleCreateForm()">Add</button>
<button class="delete-button" [disabled]="isSelected()" (click)="toggleDeleteConfirmation()">Delete</button>
<button class="update-button" [disabled]="isSelected()" (click)="toggleUpdateForm()">Update</button>
<table>
    <thead>
        <tr>
            <th></th>
            <th class="table-header">Datetime</th>
            <th class="table-header">Description</th>
            <th class="table-header">Created by</th>
        </tr>
    </thead>
    <tbody>
        @for (potty of potties(); track potty.id) {
            <tr>
                <td><input type="radio" name="potty" [value]="potty.id" (change)="isSelected.set(false); selectedPotty.set(potty.id);" /></td>
                <td>{{ potty.dateTime | date:'short' }}</td>
                <td>{{ potty.description }}</td>
                <td>{{ potty.userName }}</td>
            </tr>
        }
    </tbody>
</table>
@if (displayCreateForm()) {
    <div id="create-container" >
        <div id="create-form">
            <form autocomplete="off" [formGroup]="pottyForm" (ngSubmit)="create()">
                <label for="create-datetime">Datetime</label>
                <input id="create-datetime" type="datetime-local" formControlName="pottyDateTime" /> <br>
                <label for="create-description">Description</label>
                <input id="create-description" type="text" maxlength="45" formControlName="pottyDescription" /> <br>
                <label for="create-user">Created by</label>
                <select id="create-user" name="users" formControlName="userId">
                    @for (user of users(); track user.id) {
                        <option [value]="user.id">{{ user.name }}</option>
                    }
                </select> <br>
                <button type="submit">Create</button>
                <button id="cancel" type="button" (click)="displayCreateForm.set(false)">Cancel</button>
            </form>
        </div>
    </div>
}
@if (displayUpdateForm()) {
    <div id="update-container">
        <div id="update-form">
            <form autocomplete="off" [formGroup]="pottyForm" (ngSubmit)="update()">
                <label for="update-datetime">Datetime</label>
                <input id="update-datetime" type="datetime-local" formControlName="pottyDateTime" /> <br>
                <label for="update-description">Description</label>
                <input id="update-description" type="text" maxlength="45" formControlName="pottyDescription" /> <br>
                <label for="update-user">Created by</label>
                <select id="update-user" name="users" formControlName="userId">
                    @for (user of users(); track user.id) {
                        <option [value]="user.id">{{ user.name }}</option>
                    }
                </select> <br>
                <button type="submit">Update</button>
                <button id="cancel" type="button" (click)="displayUpdateForm.set(false)">Cancel</button>
            </form>
        </div>
    </div>
}

@if (displayDeleteConfirmation()) {
    <div id="delete-container">
        <div id="delete-confirmation">
            <p>Confirm deletion.</p>
            <button id="confirm" type="button" (click)="delete()">Delete</button>
            <button id="cancel" type="button" (click)="displayDeleteConfirmation.set(false)">Cancel</button>
        </div>
    </div>
}