<h2>Medicine</h2>
<button class="create-button" (click)="toggleCreateForm()">Add</button>
<button class="delete-button" [disabled]="isSelected()" (click)="toggleDeleteConfirmation()">Delete</button>
<button class="update-button" [disabled]="isSelected()" (click)="toggleUpdateForm()">Update</button>
<table>
    <thead>
        <tr>
            <th></th>
            <th class="table-header">Datetime</th>
            <th class="table-header">Name</th>
            <th class="table-header">Dosage</th>
            <th class="table-header">Created by</th>
        </tr>
    </thead>
    <tbody>
        @for (medicine of medicines(); track medicine.id) {
            <tr>
                <td><input type="radio" name="medicine" [value]="medicine.id" (change)="isSelected.set(false); selectedMedicine.set(medicine.id);" /></td>
                <td>{{ medicine.dateTime | date:'short' }}</td>
                <td>{{ medicine.name }}</td>
                <td>{{ medicine.dosage }}</td>
                <td>{{ medicine.userName }}</td>
            </tr>
        }
    </tbody>
</table>
@if (displayCreateForm()) {
    <div id="create-container" >
        <div id="create-form">
            <form autocomplete="off" [formGroup]="medicineForm" (ngSubmit)="create()">
                <label for="create-datetime">Start</label>
                <input id="create-datetime" type="datetime-local" formControlName="medicineDateTime" /> <br>
                <label for="create-name">Name</label>
                <input id="create-name" type="text" maxlength="45" formControlName="medicineName" /> <br>
                <label for="create-dosage">Dosage</label>
                <input id="create-dosage" type="text" maxlength="20" formControlName="medicineDosage" /> <br>
                <label for="create-user">Created by</label>
                <select id="create-user" name="users" formControlName="userId">
                    @for (user of users(); track user.id) {
                        <option [value]="user.id">{{ user.name }}</option>
                    }
                </select> <br>
                <button type="submit">Create</button>
                <button id="cancel" type="button" (click)="displayCreateForm.set(false)">Cancel</button>
            </form>
        </div>
    </div>
}
@if (displayUpdateForm()) {
    <div id="update-container">
        <div id="update-form">
            <form autocomplete="off" [formGroup]="medicineForm" (ngSubmit)="update()">
                <label for="update-datetime">Start</label>
                <input id="update-datetime" type="datetime-local" formControlName="medicineDateTime" /> <br>
                <label for="update-name">Name</label>
                <input id="update-name" type="text" maxlength="45" formControlName="medicineName" /> <br>
                <label for="update-dosage">Dosage</label>
                <input id="update-dosage" type="text" maxlength="20" formControlName="medicineDosage" /> <br>
                <label for="update-user">Created by</label>
                <select id="update-user" name="users" formControlName="userId">
                    @for (user of users(); track user.id) {
                        <option [value]="user.id">{{ user.name }}</option>
                    }
                </select> <br>
                <button type="submit">Update</button>
                <button id="cancel" type="button" (click)="displayUpdateForm.set(false)">Cancel</button>
            </form>
        </div>
    </div>
}

@if (displayDeleteConfirmation()) {
    <div id="delete-container">
        <div id="delete-confirmation">
            <p>Confirm deletion.</p>
            <button id="confirm" type="button" (click)="delete()">Delete</button>
            <button id="cancel" type="button" (click)="displayDeleteConfirmation.set(false)">Cancel</button>
        </div>
    </div>
}