<h2>Baths</h2>
<button class="create-button" (click)="toggleCreateForm()">Add</button>
<button class="delete-button" (click)="toggleDeleteConfirmation()">Delete</button>
<button class="update-button" (click)="toggleUpdateForm()">Update</button>
<table>
    <thead>
        <tr>
            <th></th>
            <th class="table-header">Datetime</th>
            <th class="table-header">Created by</th>
        </tr>
    </thead>
    <tbody>
        @for (bath of bathData(); track bath.id) {
            <tr>
                <td><input type="radio" name="bath" [value]="bath.id" (change)="selectedId.set(bath.id)" /></td>
                <td>{{ bath.dateTime }}</td>
                <td>{{ bath.userId }}</td>
            </tr>
        }
    </tbody>
</table>
@if (displayCreateForm()) {
    <div id="create-container" >
        <div id="create-form">
            <form [formGroup]="bathForm" (ngSubmit)="create()">
                <label for="create-datetime">Datetime</label>
                <input id="create-datetime" type="datetime-local" formControlName="bathDateTime" /> <br>
                <label for="create-user">Created by</label>
                <select id="create-user" name="users" formControlName="userId">
                    <option value="1">Marc</option>
                </select> <br>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>
}
@if (displayUpdateForm()) {
    <div id="update-container">
        <div id="update-form">
            <form [formGroup]="bathForm" (ngSubmit)="update()">
                <label for="update-datetime">Datetime</label>
                <input id="update-datetime" type="datetime-local" formControlName="bathDateTime" /> <br>
                <label for="update-user">Created by</label>
                <select id="update-user" name="users" formControlName="userId">
                    <option value="1">Marc</option>
                </select> <br>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
}

@if (displayDeleteConfirmation()) {
    <div id="delete-container">
        <div id="delete-confirmation">
            <p>Confirm deletion</p>
            <button id="confirm" type="button" (click)="delete()">Delete</button>
            <button id="cancel" type="button" (click)="displayDeleteConfirmation.set(false)">Cancel</button>
        </div>
    </div>
}