h2 {
    padding-left: 16px;
    margin-bottom: 8px;
}

button {
    padding: 4px;
    margin: 4px;
    border-radius: 10%;
}

button:hover {
    background-color: #E5E5E5;
}

.create-button {
    margin-left: 16px;
}

table {
    margin: 16px;
    padding: 8px;
    border: 2px solid #000000;
}

th, td {
    padding: 8px;
    margin-left: 16px;
}

.table-header {
    border-bottom: 2px solid #000000;
    width: 300px;
}

#create-container {
    margin-top: 8px;
    margin-left: 16px;
}

#update-container {
    margin-top: 8px;
    margin-left: 16px;
}

#delete-container {
    margin-top: 8px;
    margin-left: 16px;
}