nav {
    margin: 8px;
}

a {
    padding: 8px;
    text-decoration-line: none;
    border-left: 2px black solid;
    color: tan;
    color: blue;
}

a:link, a:visited {
    color: blue;
}

a:hover {
    color: cyan;
}